version: "3.4"

services:
  siremis:
    build: ./siremis
    ports:
      - 8080:80
    entrypoint: "apache2ctl -DFOREGROUND"

  kamailio:
    build: ./kamailio
    ports:
      - 5060:5060/udp
      - 5060:5060
      - 5061:5061
    volumes:
      - ./data/kamailio:/etc/kamailio
    entrypoint: "./wait-for-it.sh mysql_kamailio:3306 -- ./entrypoint.sh"
    depends_on:
      - mysql_kamailio
    dns:
      - 127.0.0.1
  
  mysql_siremis:
    image: mysql
    env_file: ./siremis/mysql.env
    volumes:
      - ./data/mysql_siremis:/var/lib/mysql
  
  mysql_kamailio:
    image: mysql
    env_file: ./kamailio/mysql.env
    volumes:
      - ./data/mysql_kamailio:/var/lib/mysql

  bind:
    image: sameersbn/bind
    ports:
      - 53:53/udp
      - 53:53/tcp
      - 10000:10000/tcp
    volumes:
      - ./data/bind:/data
